.promotion-card {
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 7px 0 #00000025;
    display: flex;
    padding: 15px;
    align-items: center;
}

.promotion-card__image {
    max-width: 100px;
    margin: auto 10px;
}

.promotion-card__info {
    width: 100%;
}
.promotion-card__title {
    font-size: 16px;
    color: #2c3e50;
}

.promotion-card__price {
    font-size: 26px;
    font-weight: 700;
    color: #3498DB
}

.promotion-card__first-comment {
    color: #95a5a6;
    font-weight: 700;
}

.promotion-card__footer {
    display: flex;
    width: 100%;
    align-items: center;
}

.promotion-card__comments-count {
    margin-left: auto;
    margin-right: 10px;
    color: #3498DB;
}

.promotion-card__link {
    border: 1px solid #3498DB;
    border-radius: 4px;
    color: #3498DB;
    text-decoration: none;
    padding: 10px;
}
